*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
}
body{
    padding: 30px;
}
ul{
    margin-bottom: 40px;
}
h1{
    font-size: 45px;
    margin-bottom: 20px;
}
td{
    font-size: 18px;
    padding-right: 30px;
}
th{
    font-size: 22px;
    text-align: center;
}
.field{
    margin-bottom: 20px;
}
.last_carac{
    margin-bottom: 40px;
}
#global_navigation{
    display: flex;
    gap: 50px;
}
#global_navigation h2{
    margin-bottom: 20px;
}
#global_navigation ul{
    border: 1px solid #000;
    padding: 50px;
}